@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
    ::-webkit-scrollbar {
        background: transparent;
        margin: 4px;
        width: 12px;
    }
    ::-webkit-scrollbar-thumb {
        background: hsla(0,0%,100%,.3);
        min-height: 30px;
        width: 12px;
    }
    html, body, #root {
        @apply h-full bg-backdrop text-white antialiased
    }
    #root {
        @apply flex flex-col
    }
    .wrapper {
        height: calc(100% - 5.625rem);
        @apply flex
    }
    .playlist-cover-shadow{
        box-shadow: 0 4px 60px rgb(0 0 0 / 50%);
    }
    .update-profile-modal-shadow{
        box-shadow: 0 4px 4px rgb(0 0 0 / 30%);
    }
    .update-profile-grid{
        grid-gap: 16px;
    display: grid;
    grid-template: 1fr 40px 32px 1fr/180px auto;
    grid-template-areas:
        "image ."
        "image name"
        "image save-button"
        "image ."
        "disclaimer disclaimer";
    }
    @media only screen and (max-width: 768px) {
        .table-grid {
            grid-template-columns: 16px 4fr minmax(120px,1fr);
        }
    }
    @media only screen and (min-width: 768px) {
        .table-grid {
            grid-template-columns:  16px 4fr 2fr minmax(120px,1fr);
        }
    }
    @media only screen and (min-width: 1024px) {
        .table-grid {
            grid-template-columns:  16px 6fr 4fr 3fr minmax(120px,1fr);
        }
    }
    
    .input-provider:focus-within .input-label {
        @apply !opacity-100
    }
    .input {
        @apply bg-[#ffffff1a] border w-full border-transparent focus:border-53 focus:bg-[#333] outline-none rounded h-10 px-3 placeholder:text-sm placeholder:font-semibold text-75 font-semibold placeholder:text-75
    }
}